# --- Android ---
*.iml
.gradle/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
# NOTA: misc.xml a veces se comparte, pero por si da problemas lo dejámos aquí
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# --- Android Studio ---
*.apk
*.ap_
*.dex
*.class

# --- Kotlin ---
.kotlin/

# --- Otros ---
*.log